.body{
    
}

.nav-orange-bg {
    background-color: rgb(255, 136, 0) !important;

}

/*.text{
    padding-top: 20px;
    margin-top: 0px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right:auto ;
    font-size: 12px;
    text-align: center;
}

.Task-User-Info h1{
    font-size: 25px;
    color: #e2c275;
}
.Task-User-Info p{
    font-size: 15px;
    color:#e2c275;
}*/