@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';
.content-app{
   // margin-top:130px;
 @include media-breakpoint-only(xs) {
    margin-top:140px;
  }
  @include media-breakpoint-only(sm) {
    margin-top:140px;
  }
  @include media-breakpoint-only(md) {
    margin-top:140px;
  }
  @include media-breakpoint-only(lg) {
    margin-top:140px;
  }
  @include media-breakpoint-only(xl) {
    margin-top:140px;
  }
  @include media-breakpoint-only(xxl) {
    margin-top:140px;
  }

}
.generic-button-1{
  margin-top: 60px;
  background-color: #e2c275;
  right:    0px;
  &:hover{
    background-color: rgb(255, 136, 0);
  }
  &:focus{
    background-color: rgb(206, 116, 0);
  }
}

.container{
  border: grey;
  border-radius: 5px;
}

.cuadrado {
  height: 450px;
  margin-top: 100px;
  margin-bottom: auto;
  width: 400px;
  /*border: blue;*/
  border: #e2c275;
  background-color:linear-gradient(to right, #EF962D, #9C5518);
  /*background-color: blue;*/
  opacity: 0.85;
}

.Titulo1 {
  margin-top: 10px;
  color: #5A3F11;
  font: oblique bold 130% cursive

}

h3{
  margin-top: 20px;
  font-size: 20px;
  /*color: blue;*/
  color: #5A3F11;
  margin-left:100px;
}

::placeholder {
  color: #5A3F11;
}
